// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import "~nativescript-theme-core/scss/ruby";

// Override variables here

@import "~nativescript-theme-core/scss/index";

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

// Thin(100)
// Light(300)
// Regular(400)
// Medium(500)
// Bold(700)
// Black(900)
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

// font
.fontBold {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}
// .fontDemiLight {
//   font-family: "noto_sans_kr_demi_light_hestia";
// }
.fontLight {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
}
.fontMedium {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}
.fontRegular {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}
.fontThin {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 100;
}

//color
.colorPrimary {
  color: #c01e20;
}
.colorPrimaryDark {
  color: #de6166;
}
.colorAccent {
  color: #2d2d2d;
}
.colorSubBg {
  color: #faedee;
}
.colorPressed {
  color: #faedee;
}
.colorPrimaryPressed {
  color: #ad1214;
}
.colorBasicText {
  color: #141413;
}
.colorBasicTitleText {
  color: #2d2d2d;
}
.colorBasicSubTitleText {
  color: #44423e;
}
