<template>
  <StackLayout>
    <Label class="colorPrimary" :text="'main.search.facility.tab.name'|L" textWrap="true"/>
    <Label class="colorPrimary text" :text="msg"></Label>
  </StackLayout>
</template>

<script>
export default {
  data() {
    return {
      msg: "Hellow World!"
    };
  }
};
</script>

<style lang="scss" scoped>
.text {
  font-size: 20;
}
</style>
