<template>
  <StackLayout>
    <Image class="logo" src="res://logo_main" stretch="none"/>
    <Label
      class="topTitle colorBasicTitleText fontMedium"
      :text="'main.home.title1'|L"
      textWrap="true"
    />
    <Label class="middleTitle" textWrap="true">
      <FormattedString>
        <Span class="colorPrimary fontBold" :text="totalFacilityCount|numberWithComma"/>
        <Span class="colorPrimary fontBold" :text="'common.formatted.num'|L('')"/>
        <Span class="colorBasicTitleText fontLight" :text="'main.home.title2'|L"/>
      </FormattedString>
    </Label>
    <Label
      class="bottomTitle colorBasicTitleText fontLight"
      :text="'main.home.title3'|L"
      textWrap="true"
    />
  </StackLayout>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      totalFacilityCount: "20231"
    };
  }
};
</script>

<style>
.logo {
  margin-top: 25.7;
  margin-left: 27.7;
}
.topTitle {
  margin-top: 20.3;
  margin-left: 39.3;
  font-size: 21.7;
}
.middleTitle {
  margin-left: 39;
  font-size: 21.7px;
}
.bottomTitle {
  margin-left: 38.3;
  font-size: 21.7;
}
</style>