<template>
  <Page actionBarHidden="true" androidStatusBarBackground="#eb2328">
    <GridLayout rows="*, auto">
      <Home row="0" v-show="tabIndex === 0"/>
      <FacilitySearch row="0" v-show="tabIndex === 1"/>
      <FlexboxLayout row="1" height="60">
        <Button
          v-for="(tab, index) in tabs"
          :key="index"
          width="50%"
          :text="tab"
          class="tab"
          @tap="onTabChange(index)"
          :class="{'is-active': tabIndex === index}"
        />
      </FlexboxLayout>
    </GridLayout>
    <!-- <ActionBar title="Welcome to NativeScript-Vue!" android:flat="true"/> -->
    <!-- <TabView android:tabBackgroundColor="#53ba82"
                 android:tabTextColor="#c4ffdf"
                 android:selectedTabTextColor="#ffffff"
                 androidSelectedTabHighlightColor="#ffffff">
            <TabViewItem :title="'main.home.tab.name'|L">
                <StackLayout>
                    <Label :text="'app.name'|L"></Label>
                    <Label :text="'company'|L"></Label>
                </StackLayout>
            </TabViewItem>
            <TabViewItem :title="'main.search.facility.tab.name'|L">
                <GridLayout columns="*" rows="*">
                    <Label class="message" text="Tab 2-1 Content" col="0" row="0"/>
                </GridLayout> 
            </TabViewItem>
            <TabViewItem :title="'main.bookmark.tab.name'|L">
                <GridLayout columns="*" rows="*">
                    <Label class="message" text="Tab 3 Content" col="0" row="0"/>
                </GridLayout>
            </TabViewItem>
            <TabViewItem :title="'main.profile.tab.name'|L">
                <GridLayout columns="*" rows="*">
                    <Label class="message" text="Tab 3 Content" col="0" row="0"/>
                </GridLayout>
            </TabViewItem>
    </TabView>-->
  </Page>
</template>

<script >
import Home from "./Home";
import FacilitySearch from "./FacilitySearch";

//import {store} from '../store/index.js';
export default {
  name: "Main",
  components: {
    Home,
    FacilitySearch
  },
  data() {
    return {
      msg: "Hellow World!",
      tabIndex: 0,
      tabs: ["홈", "시설찾기"]
    };
  },
  methods: {
    onTabChange(index) {
      this.tabIndex = index;
    }
  },
  mounted() {
    //console.log(this.store);
  }
};
</script>

<style scoped lang="scss">
Page {
  background: #fff;
  //   background: linear-gradient(to bottom, #eb2328, #252323, #000);
  color: #fff;
  font-family: Helvetica, sans-serif;
}

.logo {
  margin: 20px 0;
}

.tab {
  text-align: center;
  font-weight: 700;
  font-size: 19px;
  background: #fff;
  color: #141413;
  text-transform: capitalize;

  &.is-active {
    background: #fff;
    color: #c01e20;
  }
}
</style>
